<div class="main-wrapper">
        <div class="page  become-volunteer-page">


            <!-- <===== Start-become-volunteer-section =====> -->

            <section class="become">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="become-volunteer-title">
                                <h2>
                                    Become a volunteer
                                </h2>
                                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                    soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                    placeat facere possimus</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="become-volunteer">
                                <div class="become-volunteer-image">
                                    <img src="/assets/images/become-volunteer01.jpg" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur culpa qui officia deserunt mollit
                                    anim id est laborum."</p>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                    occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                                    mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                                    expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
                                    nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                                    assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
                                    debitis aut rerum saepe eveniet ut et voluptates repudiandae sint et molestiae non
                                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                    voluptatibus maiores alias consequatur aut perferendis asperiores repellat."</p>
                                <h5>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                    consequuntur magni dolores eos qui ratione voluptatem tempora voluptatem.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="become-contact">
                                <div class="become-contact-info">
                                    <h2>Become a volunteer</h2>
                                    <div class="contact-info">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="contact-info">
                                        <input type="text" placeholder="Email">
                                    </div>
                                    <div class="contact-info">
                                        <textarea name="" id="" cols="30" rows="3" placeholder="Message"></textarea>
                                    </div>
                                    <div class="become-contact-btn">
                                        <a href="">Send Request</a>
                                    </div>
                                </div>
                                <div class="become-contact-thought">
                                    <div class="become-contact-thought-inner">
                                        <h6>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</h6>
                                        <div class="contact-image">
                                            <img src="/assets/images/become-contact02.png" alt="">
                                        </div>
                                        <a href="">Anand Shikandar</a>
                                        <p>CEO, Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <!-- <===== End-become-volunteer-section =====> -->

        </div>
