<div class="main-wrapper">
         <div class="page">
        <!-- <===== Start-Donation-section =====> -->
        <section class="wc-donation">
            <div class="container p-0">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="donation-inner-box">
                            {{ form:donation action="/!/forms/donation" ajax="true" class="js-donation-form js-amount-form" }}
                            <div class="stay-connect-success donation-form-success" {{ unless success }}hidden{{ /unless }}>
                                <span class="stay-connect-success__icon" aria-hidden="true"><i class="fa-solid fa-check"></i></span>
                                <h3>Donation received</h3>
                                <p>Thank you for your support. We have received your donation details and emailed our team.</p>
                            </div>
                            <div class="stay-connect-fields" {{ if success }}hidden{{ /if }}>
                                <h2 data-aos="fade-up" data-aos-duration="1500">Ut enim ad minim veniam, quis nostrud exercitation ullamco </h2>
                                <div class="stay-connect-alert stay-connect-alert--error" hidden></div>
                                <div class="donation-inner">
                                    <img src="/assets/images/donation-2.png" alt="../" data-aos="flip-up" data-aos-duration="1500">
                                    <div class="donation-st-inner">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                                        <h3>Donation an any amount</h3>
                                        <div class="button">
                                            <span>$</span>
                                            <input type="text" class="form-control js-amount-input" name="amount" value="{{ old:amount ?? 25 }}" placeholder="25" required>
                                        </div>
                                        <h4>Select Payment Method</h4>
                                        <label class="radio_btn">
                                            <input type="radio" name="payment_method" value="Test Donation" {{ if !old:payment_method || old:payment_method == "Test Donation" }}checked{{ /if }} required>
                                            <span class="list-item-label">Test Donation</span>
                                        </label>
                                        <label class="radio_btn">
                                            <input type="radio" name="payment_method" value="Offline donation" {{ if old:payment_method == "Offline donation" }}checked{{ /if }}>
                                            <span class="list-item-label">Offline donation</span>
                                        </label>
                                        <label class="radio_btn">
                                            <input type="radio" name="payment_method" value="Credit Card" {{ if old:payment_method == "Credit Card" }}checked{{ /if }}>
                                            <span class="list-item-label">Credit Card</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="personal-info">
                                    <h4>Personal info</h4>
                                    <div class="nema-and-number">
                                        <input type="text" class="form-control" name="first_name" value="{{ old:first_name }}" placeholder="First name" required>
                                        <input type="text" class="form-control" name="last_name" value="{{ old:last_name }}" placeholder="Last name" required>
                                    </div>
                                    <input type="email" class="form-control" name="email" value="{{ old:email }}" placeholder="Email Address" required>
                                    <div class="btn-text js-donation-total">Donation Total : $25</div>
                                    <div class="wc-btn">
                                        <button type="submit" class="btn btn-primary">
                                            <span class="btn-label">Donate</span>
                                            <span class="btn-loading" hidden>Sending…</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {{ /form:donation }}
                        </div>
                        <div class="main-donation-wrapper">
                            <div class="wc-donation-content">
                                <div class="donation-content-p">
                                    <p data-aos="fade-up" data-aos-duration="1500">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                        necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                    <p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <p data-aos="fade-up" data-aos-duration="1500">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                                    </p>
                                    <p data-aos="fade-up" data-aos-duration="1500">we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound
                                        to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
                                        In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and
                                        owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                                </div>
                                <div class="donation-child-img">
                                    <img src="/assets/images/donation.png" alt="../"  data-aos="fade-up"
     data-aos-duration="3000" >
                                </div>
                            </div>
                            <h2 data-aos="fade-up" data-aos-duration="1500">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</h2>
                            <p data-aos="fade-up" data-aos-duration="1500">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <p data-aos="fade-up" data-aos-duration="1500">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
                                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely
                                painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To
                                take a trivial example, which of us ever undertakes laborious physical exercise</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <===== End-Donation-section =====> -->

        <!-- <!=== start-contact-section =====> -->
            <div class="wc-contactus">
        <section class="wc-contact">
            <div class="container p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-title">
                            <h2 data-aos="fade-up" data-aos-duration="1500">Stay connect with us</h2>
                            <p data-aos="fade-up" data-aos-duration="1500">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>
                        </div>
                        {{ partial:partials/stay-connect-form }}
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
        <!-- <!=== End-contact-section =====> -->
