<div class="main-wrapper">
        <!-- <===== Start-Donation-success-section =====> -->
        <section class="wc-donation-success">
            <div class="container p-0">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="inner-success">
                            <h2>Order Success</h2>
                            <h3 class="title">Donation Successful</h3>
                            <p>Your Donation has been placed successfully, please review the Donation below</p>
                            <h3 class="title">Donation Detail</h3>
                            <div class="details-table">
                                <table>
                                    <tr>
                                        <th>Description</th>
                                        <th>-</th>
                                    </tr>
                                    <tr>
                                        <td>Gateway</td>
                                        <td>Offfline</td>
                                    </tr>
                                    <tr>
                                        <td>Transaction status</td>
                                        <td>Pending payment</td>
                                    </tr>
                                    <tr>
                                        <td>Donation total</td>
                                        <td>$ 50</td>
                                    </tr>
                                    <tr>
                                        <td>Currency</td>
                                        <td>USD</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="payment-tabel">
                                <h3>Offline Payment Instruction</h3>
                                <div class="payment-tabel-success">
                                    <table>
                                        <tr>
                                            <th>Item name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum</td>
                                            <td>$ 50</td>
                                            <td>1</td>
                                            <td>$ 50</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <===== End-Donation-section =====> -->
    </div>
