<div class="main-wrapper">
        <!-- <!====== Start-hero-section =======> -->
        <div class="page">
            <section id="hero" class="hero-section wc-one-page-hero d-flex">
                <div class="hero-main">
                    <svg width="204" height="417" viewBox="0 0 204 417" fill="none" class="Hero_svg_" xmlns="http://www.w3.org/2000/svg">
                    <path id="Extended_image wrap_1" fill-rule="evenodd" clip-rule="evenodd" d="M187.511 230.298C184.887 277.513 204.676 329.622 174.658 366.154C143.169 404.475 88.2366 406.971 38.8285 411.245C-17.343 416.105 -76.8719 424.699 -122.721 391.88C-175.004 354.457 -227.653 293.128 -213.962 230.298C-200.562 168.801 -111.694 168.633 -64.9054 126.544C-23.3267 89.1412 -16.1282 13.2408 38.8285 2.89768C96.576 -7.97071 158.489 29.2587 190.65 78.4468C219.45 122.495 190.432 177.748 187.511 230.298Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_2" fill-rule="evenodd" clip-rule="evenodd" d="M168.991 228.194C166.617 270.852 184.517 317.932 157.365 350.938C128.884 385.561 79.1963 387.816 34.5062 391.677C-16.3014 396.068 -70.1458 403.833 -111.617 374.182C-158.907 340.37 -206.528 284.96 -194.145 228.194C-182.025 172.632 -101.643 172.481 -59.322 134.454C-21.7138 100.661 -15.2026 32.0862 34.5063 22.7414C86.7393 12.9219 142.74 46.5581 171.83 90.9989C197.88 130.796 171.633 180.716 168.991 228.194Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_3" fill-rule="evenodd" clip-rule="evenodd" d="M149.442 225.974C147.333 263.821 163.238 305.592 139.111 334.877C113.804 365.596 69.6538 367.596 29.9438 371.022C-15.202 374.918 -63.0461 381.807 -99.896 355.499C-141.916 325.5 -184.231 276.339 -173.227 225.974C-162.457 176.677 -91.0332 176.542 -53.4285 142.803C-20.0112 112.821 -14.2256 51.9786 29.9439 43.6874C76.3562 34.9752 126.116 64.8186 151.965 104.248C175.112 139.558 151.79 183.849 149.442 225.974Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_4" fill-rule="evenodd" clip-rule="evenodd" d="M128.864 223.636C127.033 256.42 140.839 292.603 119.897 317.97C97.9308 344.579 59.6089 346.312 25.1412 349.28C-14.0447 352.654 -55.5728 358.622 -87.5581 335.834C-124.031 309.848 -160.759 267.263 -151.209 223.636C-141.861 180.934 -79.8653 180.818 -47.2249 151.592C-18.2191 125.621 -13.1972 72.9179 25.1412 65.7359C65.4266 58.1892 108.618 84.0402 131.054 118.195C151.145 148.781 130.902 187.147 128.864 223.636Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_5" fill-rule="evenodd" clip-rule="evenodd" d="M111.373 221.649C109.779 250.13 121.799 281.563 103.565 303.6C84.4386 326.716 51.0709 328.221 21.0591 330.799C-13.061 333.731 -49.2205 338.915 -77.0707 319.118C-108.829 296.544 -140.809 259.549 -132.493 221.649C-124.353 184.553 -70.3724 184.452 -41.9517 159.063C-16.6957 136.501 -12.3231 90.7163 21.0591 84.4771C56.1364 77.9211 93.744 100.379 113.279 130.05C130.773 156.62 113.147 189.95 111.373 221.649Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_6" fill-rule="evenodd" clip-rule="evenodd" d="M94.9106 219.779C93.5392 244.209 103.88 271.172 88.194 290.075C71.74 309.903 43.035 311.194 17.217 313.406C-12.1352 315.92 -43.2418 320.367 -67.2003 303.386C-94.5204 284.022 -122.032 252.289 -114.878 219.779C-107.876 187.959 -61.438 187.872 -36.9887 166.094C-15.262 146.741 -11.5004 107.468 17.217 102.116C47.3927 96.4923 79.7451 115.756 96.5507 141.207C111.6 163.999 96.437 192.588 94.9106 219.779Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_7" fill-rule="evenodd" clip-rule="evenodd" d="M77.4194 217.792C76.2847 237.918 84.8409 260.131 71.862 275.704C58.2478 292.039 34.497 293.103 13.1349 294.925C-11.1515 296.996 -36.8894 300.66 -56.713 286.67C-79.3179 270.717 -102.081 244.575 -96.1618 217.792C-90.3681 191.577 -51.9452 191.506 -31.7156 173.564C-13.7386 157.62 -10.6262 125.266 13.1349 120.857C38.1026 116.224 64.8713 132.094 78.7764 153.062C91.2285 171.838 78.6823 195.391 77.4194 217.792Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_8" fill-rule="evenodd" clip-rule="evenodd" d="M58.8993 215.688C58.0153 231.258 64.6817 248.441 54.5693 260.488C43.962 273.125 25.4567 273.948 8.81261 275.357C-10.1099 276.959 -30.1634 279.794 -45.6087 268.971C-63.2212 256.63 -80.9568 236.407 -76.3449 215.688C-71.8308 195.409 -41.8939 195.354 -26.1322 181.474C-12.1256 169.14 -9.70064 144.112 8.81262 140.701C28.266 137.117 49.1226 149.394 59.9566 165.614C69.6586 180.139 59.8833 198.359 58.8993 215.688Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_9" fill-rule="evenodd" clip-rule="evenodd" d="M39.3503 213.584C38.7308 224.597 43.4025 236.751 36.3159 245.272C28.8824 254.21 15.9142 254.792 4.2502 255.789C-9.01045 256.923 -23.0637 258.927 -33.8876 251.272C-46.2302 242.543 -58.6591 228.239 -55.4271 213.584C-52.2637 199.24 -31.2843 199.201 -20.2387 189.384C-10.4231 180.66 -8.72366 162.957 4.2502 160.544C17.8829 158.009 32.4989 166.693 40.0913 178.166C46.8903 188.44 40.0399 201.327 39.3503 213.584Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    <path id="Extended_image wrap_10" fill-rule="evenodd" clip-rule="evenodd" d="M22.8881 211.714C22.4913 218.676 25.4833 226.36 20.9447 231.747C16.1839 237.397 7.87838 237.765 0.408196 238.395C-8.08458 239.112 -17.085 240.379 -24.0171 235.54C-31.9219 230.022 -39.882 220.979 -37.8121 211.714C-35.7861 202.646 -22.3499 202.622 -15.2757 196.415C-8.98928 190.9 -7.9009 179.708 0.408198 178.183C9.13924 176.581 18.5001 182.07 23.3626 189.323C27.717 195.818 23.3297 203.966 22.8881 211.714Z" stroke="#CFFF8D" stroke-opacity="0.3" stroke-width="0.5"/>
                    </svg>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wc-hero">
                                <h1 data-aos="fade-up" data-aos-duration="1500">The Happiness is Giving it Away</h1>
                                <div class="wc-btn" data-aos="zoom-in" data-aos-duration="1500">
                                    <a href="/help-me" class="btn btn-primary">Get help now</a>
                                    <button class="btn btn-outline-primary lets-play btn-watch-video" data-video="https://www.youtube.com/watch?v=kOISEM6L4xk">Watch Video</button>
                                </div>
                            </div>
                            <div class="wc-img" data-aos="zoom-in" data-aos-duration="2000">
                                <button class="mouse-scroll lets-play btn-watch-video" data-video="https://www.youtube.com/watch?v=kOISEM6L4xk" data-aos="fade-up" data-aos-duration="1500"> <span class="mouse">
                                <i class="fa fa-play"></i>
                            </span></button>
                                <img src="/assets/images/hero.png" alt="../">
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- <!====== End-hero-section =======> -->



            <!-- <!====== Start-about-us-section =======> -->
            <section class="about-us" style="background-color: #FFF8F8;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title" data-aos="fade-up" data-aos-duration="1500">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio </h2>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="about-content">
                                <p data-aos="fade-right" data-aos-duration="1500">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                                    making this the first true generator on the Inte</p>
                                <P data-aos="fade-right" data-aos-duration="1500">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</P>
                                <div class="about-btn" data-aos="fade-up" data-aos-duration="1500">
                                    <a href="/about-us" class="btn btn-primary">About us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="about-image">
                                <img src="/assets/images/about.png" alt="../">
                            </div>
                            <div class="about-svg2">
                                <svg width="379" height="375" viewBox="0 0 379 375" class="about-svg" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="Extended_image wrap_1" fill-rule="evenodd" clip-rule="evenodd" d="M363.658 207.092C361.299 249.528 379.085 296.364 352.105 329.199C323.804 363.642 274.43 365.885 230.022 369.727C179.536 374.094 126.031 381.819 84.8221 352.321C37.8307 318.685 -9.48942 263.563 2.81549 207.092C14.8594 151.819 94.7334 151.668 136.787 113.838C174.158 80.2208 180.628 12.002 230.022 2.7056C281.926 -7.06285 337.573 26.3987 366.479 70.6088C392.364 110.199 366.283 159.861 363.658 207.092Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_2" fill-rule="evenodd" clip-rule="evenodd" d="M347.012 205.201C344.878 243.542 360.966 285.857 336.562 315.523C310.964 346.642 266.305 348.668 226.138 352.139C180.472 356.085 132.077 363.064 94.8025 336.414C52.2984 306.024 9.49688 256.222 20.6268 205.201C31.5207 155.262 103.767 155.126 141.805 120.948C175.607 90.5748 181.46 28.9401 226.138 20.541C273.084 11.7153 323.418 41.9474 349.563 81.8905C372.977 117.66 349.387 162.528 347.012 205.201Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_3" fill-rule="evenodd" clip-rule="evenodd" d="M329.441 203.205C327.546 237.222 341.841 274.766 320.156 301.087C297.41 328.697 257.728 330.495 222.037 333.574C181.46 337.075 138.458 343.268 105.337 319.622C67.5698 292.659 29.538 248.473 39.4276 203.205C49.1075 158.897 113.303 158.777 147.102 128.452C177.138 101.504 182.338 46.8193 222.037 39.3672C263.752 31.5367 308.476 58.3598 331.709 93.799C352.513 125.535 331.551 165.344 329.441 203.205Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_4" fill-rule="evenodd" clip-rule="evenodd" d="M310.946 201.104C309.301 230.571 321.709 263.092 302.887 285.892C283.143 309.808 248.7 311.365 217.72 314.033C182.5 317.065 145.175 322.429 116.427 301.947C83.645 278.591 50.6339 240.316 59.2179 201.104C67.6199 162.724 123.341 162.619 152.678 136.351C178.748 113.009 183.262 65.6394 217.72 59.1843C253.929 52.4014 292.749 75.6361 312.914 106.334C330.972 133.825 312.778 168.308 310.946 201.104Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_5" fill-rule="evenodd" clip-rule="evenodd" d="M295.225 199.318C293.792 224.917 304.596 253.168 288.208 272.975C271.017 293.752 241.026 295.105 214.051 297.422C183.384 300.057 150.884 304.717 125.853 286.923C97.3089 266.633 68.5654 233.383 76.0397 199.318C83.3556 165.976 131.873 165.885 157.418 143.066C180.118 122.787 184.048 81.6366 214.051 76.0288C245.579 70.1363 279.38 90.3209 296.939 116.989C312.662 140.871 296.82 170.827 295.225 199.318Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_6" fill-rule="evenodd" clip-rule="evenodd" d="M280.429 197.638C279.196 219.595 288.491 243.829 274.392 260.819C259.603 278.64 233.803 279.801 210.598 281.789C184.217 284.049 156.258 288.046 134.724 272.783C110.169 255.379 85.4421 226.857 91.872 197.638C98.1655 169.038 139.903 168.959 161.878 149.385C181.406 131.991 184.787 96.6927 210.598 91.8825C237.72 86.8281 266.798 104.142 281.903 127.017C295.429 147.503 281.801 173.199 280.429 197.638Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_7" fill-rule="evenodd" clip-rule="evenodd" d="M264.708 195.852C263.688 213.941 271.378 233.906 259.713 247.903C247.476 262.585 226.129 263.541 206.929 265.178C185.101 267.04 161.968 270.333 144.15 257.759C123.833 243.421 103.374 219.924 108.694 195.852C113.901 172.29 148.435 172.226 166.618 156.1C182.775 141.77 185.573 112.69 206.929 108.727C229.37 104.563 253.43 118.827 265.927 137.672C277.119 154.549 265.843 175.718 264.708 195.852Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_8" fill-rule="evenodd" clip-rule="evenodd" d="M248.062 193.961C247.267 207.954 253.259 223.399 244.17 234.226C234.636 245.584 218.004 246.324 203.044 247.591C186.037 249.031 168.013 251.578 154.131 241.851C138.301 230.759 122.36 212.583 126.505 193.961C130.562 175.734 157.469 175.684 171.636 163.209C184.225 152.124 186.405 129.628 203.044 126.562C220.529 123.341 239.275 134.375 249.012 148.954C257.732 162.009 248.946 178.386 248.062 193.961Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_9" fill-rule="evenodd" clip-rule="evenodd" d="M230.491 192.07C229.935 201.968 234.134 212.892 227.764 220.55C221.083 228.584 209.427 229.107 198.944 230.003C187.025 231.022 174.394 232.824 164.666 225.944C153.572 218.098 142.401 205.241 145.306 192.07C148.149 179.178 167.005 179.142 176.933 170.319C185.755 162.478 187.283 146.566 198.944 144.398C211.197 142.119 224.333 149.924 231.157 160.236C237.268 169.47 231.111 181.053 230.491 192.07Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                <path id="Extended_image wrap_10" fill-rule="evenodd" clip-rule="evenodd" d="M215.695 190.389C215.339 196.646 218.028 203.552 213.948 208.394C209.669 213.473 202.205 213.803 195.49 214.37C187.857 215.014 179.768 216.153 173.537 211.803C166.432 206.844 159.278 198.716 161.138 190.389C162.959 182.239 175.036 182.216 181.394 176.638C187.044 171.681 188.022 161.622 195.49 160.251C203.338 158.811 211.751 163.745 216.122 170.264C220.035 176.102 216.092 183.424 215.695 190.389Z" stroke="#425F57" stroke-opacity="0.17" stroke-width="0.5"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- <!====== End-about-us-section =======> -->


            <!-- <!====== Start-Help-me-section =======> -->
            <section class="wc-help">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wc-help-title">
                                <h2 data-aos="fade-up" data-aos-duration="1500">Help me write</h2>
                                <P data-aos="fade-up" data-aos-duration="1500">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. </P>
                            </div>
                        </div>
                    </div>
                    <div class="row help-event">
                        <div class="col-lg-6 p-0">
                            <div class="wc-help-img" data-aos="zoom-in-right" data-aos-duration="1500">
                                <img src="/assets/images/help-1.png" alt="../">
                                <div class="wc-story">
                                    <p>Story of <br>Rohan</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="wc-help-content">
                                <P>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                                    culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</P>
                                <P>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <span>omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
                                quibusdam </span> et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
                                </P>
                                <P>Sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
                                </P>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 p-0 order-1">
                            <div class="wc-help-content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                    <Span>similique sunt in culpa
                                qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</Span>
                                </p>
                                <P>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
                                    dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
                                </P>
                                <P>Sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
                                </P>
                            </div>
                        </div>
                        <div class="col-lg-6 p-0 order-2">
                            <div class="wc-help-img" data-aos="zoom-in-left" data-aos-duration="1500">
                                <img src="/assets/images/help-2.png" alt="../">
                                <div class="wc-story story-2">
                                    <p>Story of <br>Kishan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <!====== End-help-me-section =======> -->

            <!-- <!=== start-timeline-section =====> -->
            <section class="wc-timeline">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="timeline-title">
                                <h2 data-aos="fade-up" data-aos-duration="1500">Donate who deserved</h2>
                                <p data-aos="fade-up" data-aos-duration="1500">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                            </div>
                            <div class="main-timeline">
                                <div class="timeline">
                                    <div class="timeline-content" data-aos="zoom-in" data-aos-duration="1500">
                                        <img src="/assets/images/timeline-1.png" alt="../">
                                        <div class="content-inner">
                                            <h3 class="title">Ut enim ad minim veniam, quis nostrud exercitation ullamco </h3>
                                            <a href="/donation" class="btn btn-primary">Donate</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content" data-aos="zoom-in-up" data-aos-duration="1500">
                                        <img src="/assets/images/timeline-2.png" alt="../">
                                        <div class="content-inner">
                                            <h3 class="title">Ut enim ad minim veniam, quis nostrud exercitation ullamco </h3>
                                            <a href="/donation" class="btn btn-primary">Donate</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content" data-aos="zoom-in-down" data-aos-duration="1500">
                                        <img src="/assets/images/timeline-3.png" alt="../">
                                        <div class="content-inner">
                                            <h3 class="title">Ut enim ad minim veniam, quis nostrud exercitation ullamco </h3>
                                            <a href="/donation" class="btn btn-primary">Donate</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content" data-aos="zoom-in-left" data-aos-duration="1500">
                                        <img src="/assets/images/timeline-4.png" alt="../">
                                        <div class="content-inner">
                                            <h3 class="title">Ut enim ad minim veniam, quis nostrud exercitation ullamco </h3>
                                            <a href="/donation" class="btn btn-primary">Donate</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content" data-aos="zoom-in-right" data-aos-duration="1500">
                                        <img src="/assets/images/timeline-5.png" alt="../">
                                        <div class="content-inner">
                                            <h3 class="title">Ut enim ad minim veniam, quis nostrud exercitation ullamco </h3>
                                            <a href="/donation" class="btn btn-primary">Donate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <!=== End-timeline-section =====> -->


            <!-- <!====== Start-sponser-section =======> -->
            <section class="wc-sponser">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sponser-title">
                                <h2 data-aos="fade-up" data-aos-duration="1500">Sponsors & Partners</h2>
                                <p data-aos="fade-up" data-aos-duration="1500">Ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                </p>
                            </div>
                            <div class="sponser-img">
                                <img src="/assets/images/img-1.webp" alt="../" style="width: 123px; height:91px;">
                                <img src="/assets/images/img-2.png" alt="../" style="width: 204px; height:67px;">
                                <img src="/assets/images/img-3.webp" alt="../" style="width: 131px; height:96px;">
                                <img src="/assets/images/img-4.png" alt="../" style="width: 99px; height:116px;">
                                <img src="/assets/images/img-5.png" alt="../" style="width: 248px; height:68px;">
                                <img src="/assets/images/img-6.png" alt="../" style="width: 123px; height:94px;">
                                <img src="/assets/images/img-7.png" alt="../" style="width: 276px; height:94px;">
                                <img src="/assets/images/img-8.png" alt="../" style="width: 105px; height:95px;">
                                <img src="/assets/images/img-9.png" alt="../" style="width: 136px; height:96px;">
                                <img src="/assets/images/img-10.png" alt="../" style="width: 120px; height:120px; text-align: center;">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <!====== End-sponser-section =======> -->

            <!-- <!====== Start-wc_latest-section =======> -->
            <section class="wc-latest">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="latest-title">
                                <h2 data-aos="fade-up" data-aos-duration="1500">Latest News</h2>
                                <p data-aos="fade-up" data-aos-duration="1500">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="latest-image-content">
                                <img src="/assets/images/latest.png" alt="../" data-aos="zoom-in-up" data-aos-duration="2000">
                                <p class="date" data-aos="fade-up" data-aos-duration="1500">10 jun,2022</p>
                                <h2 data-aos="fade-up" data-aos-duration="1500"><a href="/news">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                                voluptatibus maiores alias
                            </a>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="single-cause-item">
                                <div class="cause-content" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="cause-meta">
                                        <p class="date">10 jun,2022</p>
                                        <a href="/news/clean-water-for-rural-schools"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                    <h2><a href="/news/clean-water-for-rural-schools">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis </a>
                                    </h2>
                                </div>
                                <div class="cause-content" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="cause-meta">
                                        <p class="date">10 jun,2022</p>
                                        <a href="/news/clean-water-for-rural-schools"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                    <h2><a href="/news/clean-water-for-rural-schools">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis </a>
                                    </h2>
                                </div>
                                <div class="cause-content" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="cause-meta">
                                        <p class="date">10 jun,2022</p>
                                        <a href="/news/clean-water-for-rural-schools"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                    <h2><a href="/news/clean-water-for-rural-schools">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis </a>
                                    </h2>
                                </div>
                                <div class="cause-content" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="cause-meta">
                                        <p class="date">10 jun,2022</p>
                                        <a href="/news/clean-water-for-rural-schools"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                    <h2><a href="/news/clean-water-for-rural-schools">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <!====== End-wc_latest-section=======> -->

            <!-- <!=== start-chariti-page-wrapper-section =====>   -->
            <div class="wc-chariti">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="project-img">
                                <div class="charities-img">
                                    <img src="/assets/images/gallery-1.png" alt="../">
                                    <div class="icon"><a href="/portfolio/rural-children"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="charities-img">
                                    <img src="/assets/images/gallery-2.png" alt="../">
                                    <div class="icon"><a href="/portfolio/rural-children"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="charities-img">
                                    <img src="/assets/images/gallery-3.png" alt="../">
                                    <div class="icon"><a href="/portfolio/rural-children"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="charities-img">
                                    <img src="/assets/images/gallery-4.png" alt="../">
                                    <div class="icon"><a href="/portfolio/rural-children"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="charities-img">
                                    <img src="/assets/images/gallery-5.png" alt="../">
                                    <div class="icon"><a href="/portfolio/rural-children"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="charities-img">
                                    <img src="/assets/images/gallery-6.png" alt="../">
                                    <div class="icon"><a href="/portfolio/rural-children"><i class="fab fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <!=== End-chariti-page-wrapper-section =====> -->


            <!-- <!=== start-our-latest-news-section =====> -->
            <div class="our-latest-news-section our-latest-news-section-container" style="background-image: url(./image/leaf-8.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="latest-news-slider">
                                <div class="swiper mySwiper" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="latest-news-box">
                                                <div class="latest-news-content">
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                                        similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                                                    <h3>Anand Shikandar</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="latest-news-box">
                                                <div class="latest-news-content">
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                                        similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                                                    <h3>Anand Shikandar</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="latest-news-box">
                                                <div class="latest-news-content">
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                                        similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                                                    <h3>Anand Shikandar</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="latest-news-box">
                                                <div class="latest-news-content">
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                                        similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                                                    <h3>Anand Shikandar</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-arrow" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
                                    <div class="swiper-button-next"><i class="fa-solid fa-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <!=== End-our-latest-news-section =====> -->


            <!-- <!=== start-contact-section =====> -->
                <div class="wc-contactus">
            <section class="wc-contact">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-title">
                                <h2 data-aos="fade-up" data-aos-duration="1500">Stay connect with us</h2>
                                <p data-aos="fade-up" data-aos-duration="1500">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>
                            </div>
                            {{ partial:partials/stay-connect-form }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
             </div>
            <!-- <!=== End-contact-section =====> -->
