<!-- <!=== start-footer-section =====> -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="footer-content">    
                                <a href="/" class="logo"><img src="/assets/images/footer-logo.png" alt="../"></a>
                                <P>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</P>
                                <div class="footer-copyright"><a href="#" style="margin-right: 10px;">@ 2022 Donation camp</a>/<a href="#" style="margin-right: 10px; margin-left:10px">Terms Of Site</a>/<a href="#" style="margin-right: 10px; margin-left:10px">Legal</a></div>
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- <!=== End-footer-section =====> -->
