<header id="header" class="header-three header">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col-lg-5 col-4">
                <div class="official-info-three">
                    <a href="mailto:donation39@gmail.com" class="official-info-wrap">
                        <i class="fa-solid fa-envelope"></i>
                        <p>donation39@gmail.com</p>
                    </a>
                    <a href="tel:+5485246544954" class="official-info-wrap">
                        <i class="fa-solid fa-phone"></i>
                        <p>+548 524 6544 954</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <a href="/" class="header-logo-three"><img src="/assets/images/logo.png" alt="Donation"></a>
            </div>
            <div class="col-lg-5 col-4">
                <div class="social-icon-three">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="navbar-three" data-aos="slide-down">
                    <div class="menu-toggle-three">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                    <nav class="nav-list">
                        <span class="menu_three_close"><i class="fa-solid fa-xmark"></i></span>
                        <ul>
                            {{ nav:header_menu }}
                                {{ if children }}
                                <li class="dropdown">
                                    <a href="{{ url ?? '#' }}"><span>{{ title }}</span> <i class="fa fa-chevron-down"></i></a>
                                    <ul>
                                        {{ children }}
                                        <li><a href="{{ url }}">{{ title }}</a></li>
                                        {{ /children }}
                                    </ul>
                                </li>
                                {{ else }}
                                <li><a class="nav-link scrollto" href="{{ url }}">{{ title }}</a></li>
                                {{ /if }}
                            {{ /nav:header_menu }}
                        </ul>
                    </nav>
                    <a href="/donation" class="donate-btn">Donate</a>
                </div>
            </div>
        </div>
    </div>
</header>
