<header id="header" class="header-three header">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col-lg-5 col-4">
                <div class="official-info-three">
                    {{ if global:setting_email }}
                    <a href="mailto:{{ global:setting_email }}" class="official-info-wrap">
                        <i class="fa-solid fa-envelope"></i>
                        <p>{{ global:setting_email }}</p>
                    </a>
                    {{ /if }}
                    {{ if global:setting_phone }}
                    <a href="tel:{{ global:setting_phone }}" class="official-info-wrap">
                        <i class="fa-solid fa-phone"></i>
                        <p>{{ global:setting_phone }}</p>
                    </a>
                    {{ /if }}
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <a href="/" class="header-logo-three">
                    <img src="{{ global:setting_logo ?? '/assets/images/logo.png' }}" alt="{{ global:setting_site_name ?? 'Donation' }}">
                </a>
            </div>
            <div class="col-lg-5 col-4">
                <div class="social-icon-three">
                    {{ if global:setting_facebook }}<a href="{{ global:setting_facebook }}" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>{{ /if }}
                    {{ if global:setting_instagram }}<a href="{{ global:setting_instagram }}" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>{{ /if }}
                    {{ if global:setting_linkedin }}<a href="{{ global:setting_linkedin }}" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>{{ /if }}
                    {{ if global:setting_twitter }}<a href="{{ global:setting_twitter }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>{{ /if }}
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="navbar-three" data-aos="slide-down">
                    <div class="menu-toggle-three">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                    <nav class="nav-list">
                        <span class="menu_three_close"><i class="fa-solid fa-xmark"></i></span>
                        <ul>
                            {{ nav:header_menu }}
                                {{ if children }}
                                <li class="dropdown">
                                    <a href="{{ url ?? '#' }}"><span>{{ title }}</span> <i class="fa fa-chevron-down"></i></a>
                                    <ul>
                                        {{ children }}
                                        <li><a href="{{ url }}">{{ title }}</a></li>
                                        {{ /children }}
                                    </ul>
                                </li>
                                {{ else }}
                                <li><a class="nav-link scrollto" href="{{ url }}">{{ title }}</a></li>
                                {{ /if }}
                            {{ /nav:header_menu }}
                        </ul>
                    </nav>
                    <a href="{{ global:setting_cta_url ?? '/donation' }}" class="donate-btn">{{ global:setting_cta_label ?? 'Donate' }}</a>
                </div>
            </div>
        </div>
    </div>
</header>
