<div class="main-wrapper">
        <div class="page event-detail-page">


            <!-- <===== Start-event-detail-section =====> -->

            <section class="event-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="event-detail-title">
                                <h2>Lorem ipsum dolor sit amet eos omnis accusamus et mollitia assumenda ad sint.</h2>
                                <p>10 jun,2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="event-detail-hero">
                                <div class="event-detail-image">
                                    <img src="/assets/images/event-detail01.jpg" alt="">
                                </div>
                                <div class="event-detail-image-para">
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                                        aliquid ex ea commodi consequatur?</p>
                                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                        velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                        magnam aliquam quaerat voluptatem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="event-progressbar">
                                <div class="skill">
                                    <p>Donations</p>
                                    <div class="skill-bar skill1">
                                        <span class="skill-count1">65%</span>
                                    </div>
                                </div>
                                <div class="skill">
                                    <p>Events</p>
                                    <div class="skill-bar skill2">
                                        <span class="skill-count2">49%</span>
                                    </div>
                                </div>
                                <div class="skill">
                                    <p>Royalty income</p>
                                    <div class="skill-bar skill3">
                                        <span class="skill-count3">80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="event-progressbar-para">
                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                                    because it is pain, but because occasionally circumstances occur in which toil and
                                    pain can procure him some great pleasure. To take a trivial example, which of us
                                    ever undertakes laborious physical exercise, except to obtain some advantage from
                                    it? But who has any right to find fault with a man who chooses</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="support">
                                <div class="support-left">
                                    <div class="support-image">
                                        <img src="/assets/images/support.jpg" alt="">
                                    </div>
                                    <div class="support-image-text">
                                        <h6>We need your support</h6>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="support-right">
                                    <h6>"But I must explain to you how all this mistaken idea of denouncing pleasure.
                                    </h6>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non provident.</p>
                                    <p>Duis ex nunc, vulputate quis turpis sed, tempus rhoncus dolor. Sed faucibus quam
                                        eros, quis maximus magna lobortis quis. Vivamus quis tincidunt nibh. Praesent
                                        feugiat maximus sem eu tempor.</p>
                                    <p>Et harum quidem rerum facilis est et expedita distinctio libero tempore, cum
                                        soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                        placeat facere possimus, omnis voluptas assumenda est omnis repellendus.
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                                        saepe eveniet ut et voluptates repudiandae.</p>

                                </div>
                            </div>
                            <div class="support-para">
                                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                    soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                                    text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet.</p>
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <===== End-event-detail-section =====> -->

        </div>
