<div class="main-wrapper">
         <div class="page portfolio-details-page">
        <!-- <===== Start-portfolio-details-section =====> -->
        <section class="portfolio-details">
            <div class="container p-0">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="portfolio-content">
                            <img src="{{ image:url ?? '/assets/images/portfolio-details.png' }}" alt="{{ title }}" data-aos="flip-up" data-aos-duration="1500">
                            <h2 data-aos="fade-up" data-aos-duration="1500">{{ title }}</h2>
                            {{ if content }}
                                {{ content }}
                            {{ elseif excerpt }}
                            <p data-aos="fade-up" data-aos-duration="1500">{{ excerpt }}</p>
                            {{ /if }}
                            <p data-aos="fade-up" data-aos-duration="1500">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <p data-aos="fade-up" data-aos-duration="1500">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                                qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                            <div class="portfolio-thumbnails">
                                <img src="/assets/images/portfolio-1.png" alt="../" data-aos="zoom-in" data-aos-duration="1500">
                                <img src="/assets/images/portfolio-2.png" alt="../" data-aos="zoom-in" data-aos-duration="1500">
                            </div>
                            <h3 data-aos="fade-up" data-aos-duration="1500">When our power of choice is untrammelled and when nothing prevents our being able to do what we like best</h3>
                            <p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p data-aos="fade-up" data-aos-duration="1500">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                                qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                            <div class="potfolio-ul" data-aos="fade-up" data-aos-duration="1500">
                                <div class="faq_wrapper">
                                    <div class="faq_item">
                                        <div class="faq_title active">When nothing prevents our being able to do what we like best</div>
                                        <div class="faq_details">
                                            <div class="accordion-content">
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="faq_item">
                                        <div class="faq_title">Many desktop publishing packages and web page editors now use Lorem Ipsum as their</div>
                                        <div class="faq_details" style="display: none;">
                                            <div class="accordion-content">
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p data-aos="fade-up" data-aos-duration="1500">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to
                                use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            <p data-aos="fade-up" data-aos-duration="1500">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
                                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely
                                painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                        </div>
                    </div>
                </div>
        </section>
</div>
        <!-- <===== End-portfolio-details-section =====> -->
