<!-- Blog grid -->
<div class="page blog-grid-page">
    <section class="latest-blog blog-grid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    {{ if kicker }}<p class="wc-kicker" data-aos="fade-up">{{ kicker }}</p>{{ /if }}
                    <div class="latest-blog-title spacing-margin blog-grid-title">
                        <div class="title-wrap">
                            {{ if heading }}<h2 class="wc-sub-title">{{ heading }}</h2>{{ /if }}
                        </div>
                    </div>
                    <div class="latest-blog-slider">
                        {{ collection:blogs sort="date:desc" as="posts" }}
                        {{ posts }}
                        <div class="blog-info js-blog-grid-card{{ if count > 6 }} is-hidden{{ /if }}">
                            <a href="{{ url }}" class="blog-img">
                                <img src="{{ image:url ?? '/assets/images/blog-1.jpg' }}" alt="{{ title }}">
                            </a>
                            <h3><a href="{{ url }}">{{ title }}</a></h3>
                            <div class="date">
                                <p>{{ date format="d M, Y" }}</p>
                                <a href="{{ url }}"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        {{ /posts }}
                        {{ /collection:blogs }}
                    </div>
                </div>
            </div>
            {{ collection:blogs as="posts" }}
            {{ if total_results > 6 }}
            <div class="row">
                <div class="col-12">
                    <div class="load-btn">
                        <a href="#" class="big-btn btn btn-primary mx-auto js-load-more" data-cards=".js-blog-grid-card" data-batch="3">Load More<span class="loader-01"></span></a>
                    </div>
                </div>
            </div>
            {{ /if }}
            {{ /collection:blogs }}
        </div>
    </section>
</div>
