<!-- Stay connected — newsletter -->
<div class="wc-contactus">
    <section class="wc-contact">
        <div class="container p-0">
            <div class="row">
                <div class="col-12">
                    <div class="contact-title">
                        <h2 data-aos="fade-up" data-aos-duration="1500">{{ heading ?? "Stay connect with us" }}</h2>
                        {{ if text }}<p data-aos="fade-up" data-aos-duration="1500">{{ text }}</p>{{ /if }}
                    </div>
                    {{ partial:partials/stay-connect-form }}
                </div>
            </div>
        </div>
    </section>
</div>
