<div class="main-wrapper">
         <div class="page">
        <!-- <===== Start-news-details-section =====> -->
        <section class="wc-news-details">
            <div class="container p-0">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="news-details-content">
                            <h2 data-aos="fade-up" data-aos-duration="1500">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis</h2>
                            <p class="date" data-aos="fade-up" data-aos-duration="1500">10 jun,2022</p>
                            <div class="news-details-wrapper">
                                <div class="news-details-image">
                                    <img src="/assets/images/news-details.png" alt="../" data-aos="flip-right" data-aos-duration="1500">
                                </div>
                                <div class="news-details-p">
                                    <p data-aos="fade-up" data-aos-duration="1500">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                        as opposed to using 'Content here, content here', making it look like readable English.</p>
                                    <p data-aos="fade-up" data-aos-duration="1500">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                        necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                    <p data-aos="fade-up" data-aos-duration="1500">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
                                        over the years, sometimes by accident, sometimes on purpose</p>
                                    <p data-aos="fade-up" data-aos-duration="1500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                </div>
                            </div>
                            <p class="last-p" data-aos="fade-up" data-aos-duration="1500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            <p class="last-p" data-aos="fade-up" data-aos-duration="1500">we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue;
                                and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour,
                                when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of
                                duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                            <div class="bredcrum" data-aos="fade-up" data-aos-duration="1500">
                                <div class="bredcrum-content">
                                    <img src="/assets/images/quetation.png" alt="../">
                                    <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</h3>
                                </div>
                                <p>- Jon Rose</p>
                            </div>
                            <div class="news-details-thumbnails">
                                <img src="/assets/images/news-details-1.png" alt="../" data-aos="zoom-in" data-aos-duration="1500">
                                <img src="/assets/images/news-details-2.png" alt="../" data-aos="zoom-in" data-aos-duration="1500">
                                <img src="/assets/images/news-details-3.png" alt="../" data-aos="zoom-in" data-aos-duration="1500">
                            </div>
                            <p class="last-p" data-aos="fade-up" data-aos-duration="1500">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to using 'Content here, content here', making it look like readable English</p>
                            <p class="last-p" data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <p class="last-p" data-aos="fade-up" data-aos-duration="1500">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
                                repellendus.
                            </p>
                            <div class="social-icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <!-- <===== End-news-section =====> -->
